// main: style.less

@black: #1D9A6C; 
@grey: #E7FFF7;
@dark: #0D4A60;
@footer: #52A486;


@pr0: ~"(max-width: 1600px)";
@desktop: ~"(max-width: 1368px)";
@pr1: ~"(max-width: 1280px)";
@tablet: ~"(max-width: 1024px)";
@pr2: ~"(max-width: 913px)";
@tabletsm: ~"(max-width: 850px)";
@smartphone: ~"(max-width: 768px)";
@tphone: ~"(max-width: 694px)";
@surface: ~"(max-width: 540px)";
@smartphonesm: ~"(max-width: 488px)";
@smartphonesmo: ~"(max-width: 375px)";